.page2 {
    position: relative;
    background: url("../img/page2/bg.png") no-repeat;
    overflow: hidden;
}
/* 东坡肉图片 */
.page2-img-dpr {
    position: absolute;
    top: 40%;
    left: 46%;
    height: 185px;
    width: 260px;
    z-index: 89;
}
/* 旋转盒子 */
.page2-rotate-box {
    position: absolute;
    height: 750px;
    width: 750px;
    background: url("../img/page2/quan.png") no-repeat;
    background-size: 100% 100%;
    animation: zd 10s linear infinite;
    z-index: 88;
}
/* 页面中的图片 */
.rotate-img{
    position: absolute;
    height: 90px;
    width: 90px;
    animation: zd 5s linear infinite;
}
/* 姜图片 */
.page2-img-cong {
    top: 393.53px;
    left: 48.75px;
}

/* 冰糖图片 */
.page2-img-bt {
    top: 65%;
    left: 26%;
}
/* 酒图片 */
.page2-img-jiu {
    top: 200.1px;
    left: 172.5px;
}
/* 猪肉图片 */
.page2-img-rou{
    top: 24%;
    right: 26%;
}
/* 五香图片 */
.page2-img-wx {
    top: 50%;
    right: 17%;
}
@keyframes zd{
    to {
        transform: rotate(1turn);
    }
}
/* 文字 */
.page2-text {
    position: absolute;
    top: 16%;
    left: 7%;
    height: 30px;
    color: #782110;
    font: 20px/30px "myFont";
}
.page2-text::after {
    position: absolute;
    content: "我是专业的";
    height: 30px;
    width: 120px;
    top: 85%;
    left: 13%;
    color: #782110;
    font: 20px/30px "myFont";
}